html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header-main,
.header-secondary,
.header-tertiary {
    color: darkblue;
    text-align: center;
}

body {
    background: rgb(183, 203, 240);
    width: 600px;
    margin: auto;
}

img {
    height: 300px;
    display: block;
    margin: auto;
    background-color: azure;
    padding: 8px;
}

.anecdote {
    font-style: italic;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    font-size: 16px;
}

.ingredients,
.instructions {
    background-color: honeydew;
    padding: 8px;
    margin: 16px 8px;

}